body {
    background-color: #d6d6d6;
}
/* poster section */
div#slideshowCtr {
    width: 209px;
    height: 310px;
    margin: auto;
    overflow: hidden;
}

div.glow {
    box-shadow: 0px 2px 3px #fff;
}

div#imgRoll {
    height: inherit;
    position: relative;
    left: 0px;
}

div#imgRoll img {
    float: left;
    position: relative;
}

a#next {
    width: 20px;
    display: none;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
    font-family: Helvetica, sans-serif;
    padding: 4px 10px 4px 10px;
    position: absolute;
    top: 200px;
	left: 274px;
}
a#prev {
    width: 20px;
    display: none;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
    font-family: Helvetica, sans-serif;
    padding: 4px 10px 4px 10px;
    position: absolute;
    top: 200px;
	left: 110px;
}
a#next:hover, a#prev:hover {
    background-color: #000;
    cursor: pointer;
}

a#next {
    border-radius: 6px 0px 0px 6px;
    float: right;
}

a#prev {
    border-radius: 0px 6px 6px 0px;
    float: left;
}
/* fanart section */

div#slideshowFanart {
    width: 551px;
    height: 310px;
    margin: auto;
    overflow: hidden;
}
div#imgRollFanart {
    height: inherit;
    position: relative;
    left: 0px;
}

div#imgRollFanart img {
    float: left;
    position: relative;
}

a#nextFanart {
    width: 20px;
    display: none;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
    font-family: Helvetica, sans-serif;
    padding: 4px 10px 4px 10px;
    position: absolute;
	top: 200px;
	left: 924px;
}
a#prevFanart {
    width: 20px;
    display: none;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
    font-family: Helvetica, sans-serif;
    padding: 4px 10px 4px 10px;
    position: absolute;
    top: 200px;
	left: 413px;
}
a#nextFanart:hover, a#prevFanart:hover {
	background-color: #000;
    cursor: pointer;
}

a#nextFanart {
    border-radius: 6px 0px 0px 6px;
    float: right;
}

a#prevFanart {
    border-radius: 0px 6px 6px 0px;
    float: left;
}
